/*feedback page*/
.feedback-page{
    display: flex;
    
    height: 623px;
    background: url(../img/footer__img.svg);
    background-repeat: no-repeat;
    min-height: 0;
}
.feedback__links{
    display: flex;
}


.feedback__inputs{
    width: 540px;
    display: flex;
    flex-wrap: wrap;
    height: 348px;
    margin-top: 104px;
    margin-left: 125px;
    flex-direction: column;
    
}

.feedback__wrapper{
    display: flex;
    max-height: 348px;
    align-items: center;
    margin-top: 122px;
}

.feedback__subtitle{
    font-family: var(--main-font);
    font-weight: 300;
    color: var(--white);
}

.feedback__phone-number{
    font-family: var(--main-font);
    color: var(--white);
}

.feedback__email{
    display: flex;
    font-family: var(--main-font);
    color: var(--white);
   
}

.feedback__email img{
    height: 30px;
    width: 40px;
}

.feedback__phone{
    display: flex;

}

.feedback__phone-number{
    margin-left: 16px;
}

.feedback__input-text{
    font-family: var(--main-font);
    font-size: 16px;
    color: var(--white);

}

.white_title{
    color: var(--white);
    
}

.feedback input{
    background: none;
    border: none;
    outline: none;
}

.feedback{
    border-bottom: var(--gray) 1px solid;
}

.feedback__name{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 255px;
    height: 68px;
    margin-right: 30px;
}

.feedback__surname{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 255px;
    height: 68px;
}

.feedback__message{
    width: 540px;
    height: 137px;

}

.feedback__btn{
    margin-left: 270px;
    margin-top: 50px;

}

.feedback__subtitle{
    width: 445px;
}
.feedback__mail{
    margin-left: 16px;
}


.feedback__email{
    margin-left: 40px;
}

.feedback input::placeholder{
    color: var(--gray);
    font-family: var(--main-font);
}

.feedback input{
    color: var(--gray);
}

.feedback__links{
    margin-top: 80px;
}

.feedback__subtitle{
    margin-top: 35px;
}

.feedback__top{
    display: flex;
}

.feedback__btn2{
    display: none;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 270px;
    height: 60px;
    background-color: var(--dark-blue);
    color: var(--white);
    font-size: 18px;
    line-height: 25px;
    font-family: var(--main-font);
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
}

/*footer*/
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--main-font);
    width: 100%;
    min-height: 110px;
    font-size: 14px;
    font-weight: 300;
    color: #000000;
}
/*breakpoitns*/
@media (max-width: 1409px){
    footer{
        display: none;
    }

    .feedback__wrapper{
        display: flex;
        flex-direction: column;
        max-height: none;
        
        width: 100%;
    }

    .feedback-page{
        background-size: cover;
        height: 100%;
    }

    .feedback__btn{
        margin-left: 0;
        margin-top: 10px;
    }

    .feedback__inputs{
        display: flex;
        justify-content: center;
        width: 77.253vw;
        align-items: center;
        margin-right: 70px;
        margin-bottom: 50px;
        margin-top: 20px;
        
    }

    .feedback__name{
        margin-right: 30px;
    }

    .feedback__message{
        margin-top: 20px;
        width: 100%;
        max-width: 540px;
        
    }

    .white_title{
        text-align: center;
    }

    .feedback__subtitle{
        text-align: center;
    }
    
}


@media (max-width: 795px){
    .feedback__top{
        display: flex;
        flex-wrap: wrap;
    }
    .feedback__inputs{
        flex-direction: column;
    }

    .feedback__wrapper{
        margin-top: 20px;
    }

    .feedback__btn2{
        display: flex;
    }
    .feedback__btn{
        display: none;
    }
}


@media (max-width: 457px){
    .feedback__links{
        flex-direction: column;
        align-items: center;
    }

    .feedback__email{
        margin-left: 0;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .feedback__mail{
        margin-left: 16px;
    }

    .feedback__inputs{
        align-items: center;
    }

    .feedback__subtitle{
        font-size: 15px;
        width: 110%;
    }

    .feedback-page{
       height: 120%;
    }

    .feedback__top{
        width: 100%;
    }

    .feedback__name{
        width: 70%;
    }

    .feedback__surname{
        width: 70%;
    }

    .feedback input{
        width: 100%;
    }

    
}


@media (max-width: 281px){
    .feedback__btn2{
        width: calc(130% - 20px);
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}